.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
    color: var(--black);
}
.menu__item-bold {
    font-weight: 700;
}

.menu__item:visited {
    color: var(--black);
}

.menu__counter {
    font-size: 12px;
    font-weight: 600;
    line-height: 28px; /* 266.667% */
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 0 10px;
}
